html, body
	margin 0
	padding 0
	background url(../image/bg.gif)

h1
	font-size 400%
	margin 0
	padding 0
	text-align center
	color indigo
	text-shadow .03em .03em black
	font-family 'Overlock'

mason-editor
	// Prevents FOUC. Overwritten by mason-editor.js.
	visibility hidden

	margin-left 10%
	margin-right 10%
	min-width 400px
