@require 'lib'

#all
	margin-left 10%
	margin-right 10%
	min-width 400px

#outContainer
	display flex
	flex-direction row
	background azure
#status
	flex-basis 2em
	text-align center
#out
	flex-basis auto
#out .warning
	color mauve
#out .error
	color firebrick
#out .span
	font-weight bold
	color seagreen
#out .code
	font-weight bold
	color indigo

#statusIcon
	margin 0.25em
	font-size 1.5em
#statusIcon.fa-check
	color chartreuse
#statusIcon.fa-exclamation
	color red
#statusIcon.fa-circle-o-notch
	color blue

.CodeMirror
	height 100%
#ms .CodeMirror
	border-radius-top 2em
#js .CodeMirror
	border-radius-bottom 2em
	font-size 10px
