
mason-explain
	font-family 'PT Sans'

mason-explain code
	font-family 'Oxygen Mono'
	font-weight bold
	color maroon

mason-explain a
	font-family 'Oxygen Mono'
	color indigo
	font-weight bold
	text-decoration none
