doctype html
html
	head
		title Mason
		meta(charset='utf-8')

		// Shim
		script(src='./lib/es6-shim/es6-shim.min.js')
		script(src='./lib/webcomponentsjs/webcomponents.js')

		link#link-mason-editor(rel='import', href='./mason-editor.html')
		script(src='./lib/requirejs/require.js', data-main='./script/index.js')

		link(rel='stylesheet', href='./style/index.css')
	body
		mason-editor
