doctype html
html
	head
		title Mason
		meta(charset='utf-8')
		script(src='./lib/es6-shim/es6-shim.min.js')
		script(src='./lib/codemirror/lib/codemirror.js')
		script(src='./lib/codemirror/addon/fold/indent-fold.js')
		script(src='./lib/codemirror/addon/edit/matchbrackets.js')
		script(src='./lib/requirejs/require.js', data-main='./script/index.js')
		link(rel='stylesheet', href='./lib/font-awesome/css/font-awesome.css')
		link(rel='stylesheet', href='./lib/codemirror/lib/codemirror.css')
		link(rel='stylesheet', href='./lib/codemirror/theme/monokai.css')
		link(rel='stylesheet', href='./style/index.css')
	body
		div#code
