// Both this *and* identical import below are needed. TODO: Find out why.
link(rel='stylesheet', href='./lib/codemirror/lib/codemirror.css')

template#mason-editor-template
	// Can't use <link> in shadow DOM.
	// http://stackoverflow.com/questions/23176330/use-a-remote-stylesheet-inside-a-template-tag-with-shadow-dom
	style.
		@import './lib/codemirror/lib/codemirror.css';
	style.
		@import './lib/codemirror/theme/eclipse.css';
	style.
		@import './lib/font-awesome/css/font-awesome.css';
	style.
		@import './style/mason-editor.css';
	script(src='./lib/codemirror/lib/codemirror.js')
	div#ms
